In [36]:
## Import Statements 
import pandas as pd 
from pandas.io.json import json_normalize 
import json

Questions 8-9

In [37]:
covid = pd.read_csv('covid19.csv')

In [68]:
#Question 8 
average_age = covid[covid['gender'] == 'male']['age'].describe()
average_age

count    476.000000
mean      49.847689
std       17.888556
min        0.500000
25%       36.000000
50%       50.500000
75%       65.000000
max       89.000000
Name: age, dtype: float64

In [85]:
#Question 9 
country =  covid.groupby(['country'])['country'].count()
country

country
Afghanistan      1
Algeria          1
Australia       15
Austria          2
Bahrain         17
Belgium          1
Cambodia         1
Canada          12
China          197
Croatia          1
Egypt            1
Finland          1
France          39
Germany         54
Hong Kong       94
India            3
Iran            18
Israel           1
Italy            3
Japan          190
Kuwait           9
Lebanon          1
Malaysia        23
Nepal            1
Phillipines      3
Russia           2
Singapore       93
South Korea    114
Spain           34
Sri Lanka        1
Sweden           1
Switzerland      1
Taiwan          34
Thailand        41
UAE             21
UK              20
USA             18
Vietnam         16
Name: country, dtype: int64

Questions 10-12

In [91]:
de = pd.read_csv('dewiki_pageviews.csv')
en = pd.read_csv('enwiki_pageviews.csv')

In [101]:
#Question 10 
de['GermanPageviews'] = de['NovelCoronavirus']+ de['Coronavirus']
de['GermanPageviews'].describe()

count        21.000000
mean      94191.095238
std       86612.118753
min         479.000000
25%        9863.000000
50%       84529.000000
75%      149603.000000
max      346410.000000
Name: GermanPageviews, dtype: float64

In [115]:
#Question 11
df =  pd.merge(de,en,how='inner',on=['Date'])

#Question 12
df.shape

(21, 6)

Question 13-15

In [116]:
#Question 13 
tweets = open('tweets.json')
tweets_obj = json.load(tweets)
tweets_obj

In [113]:
#Question 14 & 15
tweets_df = json_normalize(tweets_obj['user'])
tweets_df

/var/folders/3z/502yf7vd36g68b85pr331rqh0000gn/T/ipykernel_76614/3753935798.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  tweets_df = json_normalize(tweets_obj['user'])

,id,id_str,name,screen_name,location,url,description,translator_type,protected,verified,...,profile_text_color,profile_use_background_image,profile_image_url,profile_image_url_https,profile_banner_url,default_profile,default_profile_image,following,follow_request_sent,notifications
0,624248526,624248526,Azalia,a_degollado,"Texas, USA",None,21 • TXARNG •,none,False,False,...,3D1957,True,http://pbs.twimg.com/profile_images/1287596857...,https://pbs.twimg.com/profile_images/128759685...,https://pbs.twimg.com/profile_banners/62424852...,False,False,None,None,None

Question 16-20

In [119]:
#Question 16 
f = open("nobel_prizes.json")
prizes = json.load(f)

In [127]:
#Question 17
prizes_df = json_normalize(prizes, record_path="laureates", meta=["year","category"])
prizes_df

/var/folders/3z/502yf7vd36g68b85pr331rqh0000gn/T/ipykernel_76614/1181643601.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  prizes_df = json_normalize(prizes, record_path="laureates", meta=["year","category"])

,id,firstname,surname,motivation,share,year,category
0,976,John,Goodenough,"""for the development of lithium-ion batteries""",3,2019,chemistry
1,977,M. Stanley,Whittingham,"""for the development of lithium-ion batteries""",3,2019,chemistry
2,978,Akira,Yoshino,"""for the development of lithium-ion batteries""",3,2019,chemistry
3,982,Abhijit,Banerjee,"""for their experimental approach to alleviatin...",3,2019,economics
4,983,Esther,Duflo,"""for their experimental approach to alleviatin...",3,2019,economics
...,...,...,...,...,...,...,...
494,103,Ben R.,Mottelson,"""for the discovery of the connection between c...",3,1975,physics
495,104,James,Rainwater,"""for the discovery of the connection between c...",3,1975,physics
496,406,David,Baltimore,"""for their discoveries concerning the interact...",3,1975,medicine
497,407,Renato,Dulbecco,"""for their discoveries concerning the interact...",3,1975,medicine
498,408,Howard M.,Temin,"""for their discoveries concerning the interact...",3,1975,medicine

In [120]:
#Question 18 & 20 
prizes_count = prizes_df.groupby(['category'])['category'].count()
prizes_count

category
chemistry      98
economics      75
literature     45
medicine      106
peace          63
physics       112
Name: category, dtype: int64

In [129]:
#Question 19
ndf = prizes_df[["year","category","id"]].groupby(["year","category"]).agg("count")
ndf

                 id
year category
1975 chemistry    2
     economics    2
     literature   1
     medicine     3
     peace        1
...              ..
2019 economics    3
     literature   1
     medicine     3
     peace        1
     physics      3

[270 rows x 1 columns]